<html>
  <head>
    <title>Editer un potin</title>
  </head>
  <body>
    <h1>Modifie ton potin !</h1>
    <p>Editer potin n° <%= params['id']%> via le formulaire ci-dessous :</p>
    <form action='/gossips/<%= params['id']%>/edit/' method='POST'>
      Saisi ici ton nom :  <input type='text' name='gossip_author' value='<%= gossip.author %>'/><br/>
      Balance ton potin : <input type='text' name='gossip_content' value='<%= gossip.content %>'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>