<h1>Page de potin</h1>
<p> balablablabla </p>
<p>Auteur : <%= gossip.author %></p>
<p>Contenu : <%= gossip.content %></p>

<a href="/gossips/<%= params['id']%>/edit/">Editer un gossip</a>
<a href="/">Retour à l'accueil</a>